.footer {
    position: relative;
    height: 1px;
    min-height: 130px;
    background-image: url("../img/img/footer@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
        background-image: url("../img/img/footer@2x.jpg");
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
        background: linear-gradient(342deg, rgba(7, 29, 104, 0.9) 0%, rgba(11, 75, 236, 0.9) 100%);
    }

    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 14px;
    }

    &__text {
        text-align: center;

        @media (min-width: $display-sm-min) {
            & br {
                display: none;
            }
        }
    }
}
