.main-section {
    position: relative;
    height: 1px;
    min-height: calc(100vh - 120px);
    overflow: hidden;
    background-image: url("../img/img/Shape@1x.png");
    background-repeat: no-repeat;
    background-position: 14% 20%;

    @media (max-width: $display-xxl-max) {
        min-height: calc(100vh - 60px);
        background-image: url("../img/img/Shape-min.png");
    }

    @media (max-width: $display-lg-max) {
        height: auto;
        min-height: auto;
        background-image: url("../img/img/Shape-min.png");
    }

    &::before,
    &::after {
        position: absolute;
        top: 35%;
        right: -20%;
        z-index: 1;
        width: 33vw;
        height: 18vw;
        content: "";
        background-image: linear-gradient(342deg, rgba(7, 29, 104, 0.6) 0%, rgba(11, 75, 236, 0.6) 100%);
        border-radius: 65px;
        transform: rotate(35deg);

        @media (max-width: $display-lg-max) {
            display: none;
        }
    }

    &::before {
        top: 18%;
        right: -18%;
    }

    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__title {
        @include text-semiBold;

        margin-top: 0;
        font-size: 40px;
        line-height: 1.5;
        text-align: center;

        @media (max-width: $display-xxl-max) {
            margin-top: 20px;
            font-size: 26px;
        }
    }

    &__text {
        @include subtitle;

        max-width: 945px;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    &__button {
        @include text-semiBold;

        padding: 15px 45px;
        margin: 4vh 0 10vh;
        color: $main-color;
        text-transform: uppercase;
        cursor: pointer;
        background-color: #fff;
        border: none;
        border-radius: 22px;
        transition: 0.3s;

        &:hover,
        &:focus {
            transform: scale(1.2);
        }
    }

    &__wrapper {
        display: flex;
        margin-bottom: 140px;

        @media (max-width: $display-xxl-max) {
            margin-bottom: 70px;
        }
    }

    &__picture {
        position: relative;
        max-width: 410px;
        opacity: 0.4;

        @media (max-width: $display-xxl-max) {
            max-width: 290px;
        }

        &::after {
            position: absolute;
            bottom: -40%;
            left: 0;
            width: 100%;
            height: 40%;
            content: "";
            background-image: url('../img/img/card@1x.png');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            opacity: 0.2;
            transform: scale(1, -1);
        }

        &--main {
            z-index: 2;
            opacity: 1;
            transform: scale(1.45);
        }
    }
}
