.navigation {
    @include text-semiBold;

    display: flex;
    font-size: 14px;
    line-height: 1.5;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-transform: uppercase;

        @media (max-width: $display-lg-max) {
            position: fixed;
            top: 60px;
            bottom: 0;
            left: 50%;
            z-index: 5;
            flex-direction: column;
            align-items: stretch;
            width: 50%;
            height: 100vh;
            padding-top: 20px;
            background-color: rgba($color: $main-color, $alpha: 0.9);
            transition: transform 0.3s;
            transform: translateY(-300%);

            &--active {
                transform: translateY(0);
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 15px;

            @media (max-width: $display-lg-max) {
                margin-right: 0;
            }
        }
    }

    &__link {
        display: block;
        padding: 10px 15px;
        border-radius: 12px;
        transition: 0.3s;

        @media (max-width: $display-lg-max) {
            text-align: center;
        }

        &:hover,
        &:focus {
            color: $main-color;
            background-color: #fff;
        }
    }

    &__user-list {
        margin-left: 15px;
    }

    &__button {
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: transparent;
        border: 0;

        @media (min-width: $display-lg-min) {
            display: none;
        }

        &::after,
        &::before {
            position: absolute;
            top: 28px;
            right: 30px;
            width: 28px;
            height: 4px;
            content: "";
            background-color: #fff;
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }

        &--closed {
            &::before {
                position: absolute;
                top: 19px;
                right: 20px;
                width: 24px;
                height: 4px;
                content: '';
                background-color: #fff;
                transform: translate(-50%);
                box-shadow: 0 9px 0 0 #fff,
                    0 18px 0 0 #fff;
            }

            &::after {
                display: none;
            }
        }
    }
}
